DEEPFIX_LLM_API_KEY=
DEEPFIX_LLM_BASE_URL=https://openrouter.ai/api/v1
DEEPFIX_LLM_MODEL_NAME=openai/deepseek/deepseek-chat-v3.1:free
DEEPFIX_LLM_TEMPERATURE=0.7
DEEPFIX_LLM_MAX_TOKENS=8000
DEEPFIX_LLM_CACHE=1
DEEPFIX_LLM_TRACK_USAGE=1

# authentication
LIT_SERVER_API_KEY=
DEEPFIX_PORTAL_SERVICE_TOKEN=
DEEPFIX_PORTAL_BASE_URL=http://localhost:5041

DATABASE_URL=

# mlflow
MLFLOW_TRACKING_URI=
MLFLOW_EXP_NAME=Deepfix-server

#pinggy forwarding
PINGGY_SSH_USER=
