DEEPFIX_LLM_API_KEY=
DEEPFIX_LLM_BASE_URL=https://openrouter.ai/api/v1
DEEPFIX_LLM_MODEL_NAME=openai/x-ai/grok-4.1-fast
DEEPFIX_LLM_TEMPERATURE=0.7
DEEPFIX_LLM_MAX_TOKENS=8000
DEEPFIX_LLM_CACHE=1
DEEPFIX_LLM_TRACK_USAGE=1

FRONTEND_URL=

# LLM tracing with mlfow
MLFLOW_TRACKING_URI=
MLFLOW_EXP_NAME=Deepfix-server

CLOUDFLARE_TUNNEL_TOKEN=

# deployment hostname
HOST=

# Development postgres
POSTGRES_USER=deepfix-admin
POSTGRES_PASSWORD=deepfix-admin

# Production postgres
SUPABASE_PASSWORD=
SUPABASE_HOST=
SUPABASE_USER=

# Gmail SMTP Configuration
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=DeepFix

# Gmail SMTP settings (these are the defaults, but explicit is better)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USE_TLS=true

DEEPFIX_PORTAL_SERVICE_TOKEN=
DEEPFIX_PORTAL_SECRET_KEY=
DEEPFIX_PORTAL_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
