DEEPFIX_LLM_API_KEY=
DEEPFIX_LLM_BASE_URL=https://openrouter.ai/api/v1
DEEPFIX_LLM_MODEL_NAME=openai/deepseek/deepseek-chat-v3.1:free
DEEPFIX_LLM_TEMPERATURE=0.7
DEEPFIX_LLM_MAX_TOKENS=8000
DEEPFIX_LLM_CACHE=1
DEEPFIX_LLM_TRACK_USAGE=1
LIT_SERVER_API_KEY=
MLFLOW_TRACKING_URI=
PINGGY_SSH_USER=
MLFLOW_EXP_NAME=Deepfix-server

OTEL_SERVICE_NAME=deepfix-server
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
OTEL_RESOURCE_ATTRIBUTES=
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf