DEEPFIX_LLM_API_KEY=
DEEPFIX_LLM_BASE_URL=https://openrouter.ai/api/v1
DEEPFIX_LLM_MODEL_NAME=openai/deepseek/deepseek-chat-v3.1:free
DEEPFIX_LLM_TEMPERATURE=0.7
DEEPFIX_LLM_MAX_TOKENS=8000
DEEPFIX_LLM_CACHE=1
DEEPFIX_LLM_TRACK_USAGE=1
LIT_SERVER_API_KEY=
MLFLOW_TRACKING_URI=http://mlflow:5000/
MLFLOW_EXP_NAME=Deepfix-server
PINGGY_SSH_USER=

POSTGRES_USER=deepfix-admin
POSTGRES_PASSWORD=deepfix-admin

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

DEEPFIX_PORTAL_SERVICE_TOKEN="dev-portal-service-token"
DEEPFIX_PORTAL_SECRET_KEY="dev-secret-key-change-in"
DEEPFIX_PORTAL_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
