DEEPFIX_API_KEY=
DEEPFIX_TEST_API_URL=http://localhost:3000/api/v1/analyse

# Object detection
TR_IMAGES_DIR_PATH=D:\workspace\general_dataset\coco\train
TR_ANNOTATIONS_PATH=D:\workspace\general_dataset\coco\annotations\annotations_train.json
VAL_IMAGES_DIR_PATH=D:\workspace\general_dataset\coco\val
VAL_ANNOTATIONS_PATH=D:\workspace\general_dataset\coco\annotations\annotations_val.json
